# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
./BackEnd/node_modules
./BackEnd/dist
./BackEnd/dist-ssr
./BackEnd/.env
./BackEnd/.env.local
./BackEnd/.env.development
./BackEnd/.env.production
./BackEnd/.env.test
./BackEnd/.env.*.local
./BackEnd/.vscode/*
!/BackEnd/.vscode/extensions.json
./BackEnd/.idea
./BackEnd/.DS_Store
./BackEnd/*.suo